<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../../partials/head') %>
    <title>Ajouter un filière</title>
    <link rel="stylesheet" href="/styles/add_and_update.css"> 
    <script defer src="/js/clearBtn.js"></script>
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <form action="/add_sector" method="post">
            <h1>Ajouter un nouvel filière</h1>
            <div class="fields">
                <label for="">Le nom du filière : </label>
                <input class="inpt" type="text" name="name">
                <a class="returnBtn" href="/sectors"><i class="fa-solid fa-arrow-left"></i></a>
                <span class="btns">
                    <input class="clearBtn" type="button" value="Effacer">
                    <input class="submitBtn" type="submit" value="Ajouter">
                </span>
            </div>
        </form>
    </div>
</body>
</html>
