<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/styles/loginPage.css">
  <title>Login</title>
</head>
<body>
  <div class="container">
    <div class="login">
      <h1>Log In</h1>
      <form action="/" method="post">
        <input class="inpt" type="text" name="email" id="" placeholder="Email">
        <input class="inpt" type="password" name="password" id="" placeholder="Password">
        <input class="login-btn" type="submit" value="Login">
      </form>
    </div>
  </div>
</body>
</html>
