header {
    height: 50px;
    line-height: 50px;
    margin-bottom: 12px;
    font-style: italic;
    width: 90%;
    margin: 12px auto;
    border-radius: 32px;
    color: white;
    background-color: #00BFFF;
    text-align: center;
}
